# How To Run Recommender Systems

link: https://predictivehacks.com/how-to-run-recommender-systems-in-python/

In [1]:
import pandas as pd
import numpy as np

In [2]:
columns = ['user_id', 'item_id', 'rating', 'timestamp']
df = pd.read_csv('ml-100k/u.data', sep='\t', names=columns)

In [3]:
# Load the major data

df

       user_id  item_id  rating  timestamp
0          196      242       3  881250949
1          186      302       3  891717742
2           22      377       1  878887116
3          244       51       2  880606923
4          166      346       1  886397596
...        ...      ...     ...        ...
99995      880      476       3  880175444
99996      716      204       5  879795543
99997      276     1090       1  874795795
99998       13      225       2  882399156
99999       12      203       3  879959583

[100000 rows x 4 columns]

In [4]:
# Movie information

columns = ['item_id', 'movie title', 'release date', 'video release date', 'IMDb URL', 'unknown', 'Action', 'Adventure',
          'Animation', 'Childrens', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy', 'Film-Noir', 'Horror',
          'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']
movies = pd.read_csv('ml-100k/u.item', sep='|', names=columns, encoding='latin-1')

In [5]:
movies

,item_id,movie title,release date,video release date,IMDb URL,unknown,Action,Adventure,Animation,Childrens,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1677,1678,Mat' i syn (1997),06-Feb-1998,NaN,http://us.imdb.com/M/title-exact?Mat%27+i+syn+...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1678,1679,B. Monkey (1998),06-Feb-1998,NaN,http://us.imdb.com/M/title-exact?B%2E+Monkey+(...,0,0,0,0,0,...,0,0,0,0,0,1,0,1,0,0
1679,1680,Sliding Doors (1998),01-Jan-1998,NaN,http://us.imdb.com/Title?Sliding+Doors+(1998),0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1680,1681,You So Crazy (1994),01-Jan-1994,NaN,http://us.imdb.com/M/title-exact?You%20So%20Cr...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1681,1682,Scream of Stone (Schrei aus Stein) (1991),08-Mar-1996,NaN,http://us.imdb.com/M/title-exact?Schrei%20aus%...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
movie_names = movies[['item_id', 'movie title']]
movie_names

      item_id                                movie title
0           1                           Toy Story (1995)
1           2                           GoldenEye (1995)
2           3                          Four Rooms (1995)
3           4                          Get Shorty (1995)
4           5                             Copycat (1995)
...       ...                                        ...
1677     1678                          Mat' i syn (1997)
1678     1679                           B. Monkey (1998)
1679     1680                       Sliding Doors (1998)
1680     1681                        You So Crazy (1994)
1681     1682  Scream of Stone (Schrei aus Stein) (1991)

[1682 rows x 2 columns]

In [7]:
combined_movies_data = pd.merge(df, movie_names, on='item_id')
combined_movies_data = combined_movies_data[['user_id','movie title', 'rating']]
combined_movies_data.head()

   user_id   movie title  rating
0      196  Kolya (1996)       3
1       63  Kolya (1996)       3
2      226  Kolya (1996)       5
3      154  Kolya (1996)       3
4      306  Kolya (1996)       5

In [8]:
# my user_id is the 1001

my_ratings = pd.read_csv('ml-100k/my_movies_rating.csv')
my_ratings.columns = ['user_id', 'movie title', 'rating']

my_ratings

    user_id                          movie title  rating
0      1001                       Aladdin (1992)     1.0
1      1001                    Braveheart (1995)     5.0
2      1001           Clockwork Orange, A (1971)     2.0
3      1001            Dances with Wolves (1990)     3.5
4      1001          English Patient, The (1996)     2.0
5      1001                      Face/Off (1997)     3.5
6      1001                  Forrest Gump (1994)     4.0
7      1001                     Game, The (1997)     3.5
8      1001                Godfather, The (1972)     5.0
9      1001                 Jurassic Park (1993)     3.5
10     1001                     Liar Liar (1997)     2.0
11     1001                Lion King, The (1994)     2.5
12     1001                  Pulp Fiction (1994)     4.0
13     1001                Reservoir Dogs (1992)     4.0
14     1001            Return of the Jedi (1983)     1.0
15     1001                     Rock, The (1996)     4.0
16     1001                        Scream (1996)     1.0
17     1001                 Seven (Se7en) (1995)     5.0
18     1001     Silence of the Lambs, The (1991)     5.0
19     1001      Star Trek: First Contact (1996)     1.0
20     1001  Star Trek: The Wrath of Khan (1982)     1.0
21     1001                     Star Wars (1977)     1.0
22     1001    Terminator 2: Judgment Day (1991)     3.5
23     1001                       Titanic (1997)     4.0
24     1001                 Trainspotting (1996)     3.0

In [9]:
combined_movies_data = pd.concat([combined_movies_data, my_ratings], axis=0)
combined_movies_data

    user_id                          movie title  rating
0       196                         Kolya (1996)     3.0
1        63                         Kolya (1996)     3.0
2       226                         Kolya (1996)     5.0
3       154                         Kolya (1996)     3.0
4       306                         Kolya (1996)     5.0
..      ...                                  ...     ...
20     1001  Star Trek: The Wrath of Khan (1982)     1.0
21     1001                     Star Wars (1977)     1.0
22     1001    Terminator 2: Judgment Day (1991)     3.5
23     1001                       Titanic (1997)     4.0
24     1001                 Trainspotting (1996)     3.0

[100025 rows x 3 columns]

In [11]:
# rename the columns to userID, itemID and rating
combined_movies_data.columns = ['userID', 'itemID', 'rating']

In [12]:
combined_movies_data

    userID                               itemID  rating
0      196                         Kolya (1996)     3.0
1       63                         Kolya (1996)     3.0
2      226                         Kolya (1996)     5.0
3      154                         Kolya (1996)     3.0
4      306                         Kolya (1996)     5.0
..     ...                                  ...     ...
20    1001  Star Trek: The Wrath of Khan (1982)     1.0
21    1001                     Star Wars (1977)     1.0
22    1001    Terminator 2: Judgment Day (1991)     3.5
23    1001                       Titanic (1997)     4.0
24    1001                 Trainspotting (1996)     3.0

[100025 rows x 3 columns]

In [13]:
# count reviews for each move

combined_movies_data['reviews'] = combined_movies_data.groupby(['itemID'])['rating'].transform('count')
combined_movies_data['reviews']

0     117
1     117
2     117
3     117
4     117
     ...
20    245
21    584
22    296
23    351
24    251
Name: reviews, Length: 100025, dtype: int64

In [14]:
combined_movies_data= combined_movies_data[combined_movies_data.reviews>25][['userID', 'itemID', 'rating']]

In [15]:
combined_movies_data

    userID                               itemID  rating
0      196                         Kolya (1996)     3.0
1       63                         Kolya (1996)     3.0
2      226                         Kolya (1996)     5.0
3      154                         Kolya (1996)     3.0
4      306                         Kolya (1996)     5.0
..     ...                                  ...     ...
20    1001  Star Trek: The Wrath of Khan (1982)     1.0
21    1001                     Star Wars (1977)     1.0
22    1001    Terminator 2: Judgment Day (1991)     3.5
23    1001                       Titanic (1997)     4.0
24    1001                 Trainspotting (1996)     3.0

[93201 rows x 3 columns]

# Use Surprise

In [16]:
from surprise import NMF, SVD, SVDpp, KNNBasic, KNNWithMeans, KNNWithZScore, CoClustering
from surprise.model_selection import cross_validate
from surprise import Reader, Dataset

In [17]:
# A reader is still needed but only the rating_scale param is requiered.
reader = Reader(rating_scale=(1, 5))
data = Dataset.load_from_df(combined_movies_data, reader)

In [18]:
# get the list of the movie ids
unique_ids = combined_movies_data['itemID'].unique()
len(unique_ids)

851

In [19]:
# get the list of the ids that the userid 1001 has rated
iids1001 = combined_movies_data.loc[combined_movies_data['userID']==1001, 'itemID']

In [20]:
iids1001

0                          Aladdin (1992)
1                       Braveheart (1995)
2              Clockwork Orange, A (1971)
3               Dances with Wolves (1990)
4             English Patient, The (1996)
5                         Face/Off (1997)
6                     Forrest Gump (1994)
7                        Game, The (1997)
8                   Godfather, The (1972)
9                    Jurassic Park (1993)
10                       Liar Liar (1997)
11                  Lion King, The (1994)
12                    Pulp Fiction (1994)
13                  Reservoir Dogs (1992)
14              Return of the Jedi (1983)
15                       Rock, The (1996)
16                          Scream (1996)
17                   Seven (Se7en) (1995)
18       Silence of the Lambs, The (1991)
19        Star Trek: First Contact (1996)
20    Star Trek: The Wrath of Khan (1982)
21                       Star Wars (1977)
22      Terminator 2: Judgment Day (1991)
23                         Titanic (1997)
24                   Trainspotting (1996)
Name: itemID, dtype: object

In [21]:
# remove the rated movies for the recommendations
movies_to_predict = np.setdiff1d(unique_ids,iids1001)
movies_to_predict

array(['101 Dalmatians (1996)', '12 Angry Men (1957)', '187 (1997)',
       '2 Days in the Valley (1996)',
       '20,000 Leagues Under the Sea (1954)',
       '2001: A Space Odyssey (1968)', '39 Steps, The (1935)',
       '8 1/2 (1963)', 'Absolute Power (1997)', 'Abyss, The (1989)',
       'Ace Ventura: Pet Detective (1994)',
       'Ace Ventura: When Nature Calls (1995)',
       'Addams Family Values (1993)', 'Addicted to Love (1997)',
       'Adventures of Pinocchio, The (1996)',
       'Adventures of Priscilla, Queen of the Desert, The (1994)',
       'Adventures of Robin Hood, The (1938)',
       'Affair to Remember, An (1957)', 'African Queen, The (1951)',
       'Age of Innocence, The (1993)', 'Air Bud (1997)',
       'Air Force One (1997)', 'Airheads (1994)', 'Akira (1988)',
       'Aladdin and the King of Thieves (1996)',
       'Alice in Wonderland (1951)', 'Alien (1979)', 'Alien 3 (1992)',
       'Alien: Resurrection (1997)', 'Aliens (1986)',
       'All About Eve (1950)', 'Amadeus (1984)',
       'American President, The (1995)',
       'American Werewolf in London, An (1981)',
       'American in Paris, An (1951)', 'Amistad (1997)',
       'Amityville Horror, The (1979)', 'Anaconda (1997)',
       'Anastasia (1997)', 'Angels and Insects (1995)',
       'Angels in the Outfield (1994)', 'Anna Karenina (1997)',
       'Annie Hall (1977)', 'Another Stakeout (1993)',
       "Antonia's Line (1995)", 'Apartment, The (1960)',
       'Apocalypse Now (1979)', 'Apollo 13 (1995)', 'Apostle, The (1997)',
       'Apt Pupil (1998)', 'Aristocats, The (1970)',
       'Army of Darkness (1993)', 'Around the World in 80 Days (1956)',
       'Arrival, The (1996)', 'Arsenic and Old Lace (1944)',
       'As Good As It Gets (1997)', 'Assassins (1995)',
       'Associate, The (1996)',
       'Austin Powers: International Man of Mystery (1997)',
       'Babe (1995)', 'Back to the Future (1985)', 'Bad Boys (1995)',
       'Bananas (1971)', 'Barb Wire (1996)', 'Barbarella (1968)',
       'Barcelona (1994)', 'Basic Instinct (1992)',
       'Basketball Diaries, The (1995)', 'Basquiat (1996)',
       'Batman & Robin (1997)', 'Batman (1989)', 'Batman Forever (1995)',
       'Batman Returns (1992)', 'Bean (1997)',
       'Beautician and the Beast, The (1997)', 'Beautiful Girls (1996)',
       'Beautiful Thing (1996)', 'Beauty and the Beast (1991)',
       'Beavis and Butt-head Do America (1996)', 'Bed of Roses (1996)',
       'Bedknobs and Broomsticks (1971)', 'Before Sunrise (1995)',
       'Before and After (1996)', 'Being There (1979)',
       'Belle de jour (1967)', 'Ben-Hur (1959)', 'Benny & Joon (1993)',
       'Better Off Dead... (1985)', 'Beverly Hills Cop III (1994)',
       'Beverly Hills Ninja (1997)', 'Big Lebowski, The (1998)',
       'Big Night (1996)', 'Big Sleep, The (1946)',
       'Billy Madison (1995)', 'Bio-Dome (1996)', 'Birdcage, The (1996)',
       'Birds, The (1963)', 'Black Beauty (1994)', 'Black Sheep (1996)',
       'Blade Runner (1982)', 'Blob, The (1958)', 'Blown Away (1994)',
       'Blue in the Face (1995)', 'Blues Brothers 2000 (1998)',
       'Blues Brothers, The (1980)', 'Bob Roberts (1992)',
       'Body Snatchers (1993)', 'Bonnie and Clyde (1967)',
       'Boogie Nights (1997)', 'Boomerang (1992)', 'Boot, Das (1981)',
       'Booty Call (1997)', 'Bottle Rocket (1996)', 'Bound (1996)',
       'Boys on the Side (1995)', 'Brady Bunch Movie, The (1995)',
       "Bram Stoker's Dracula (1992)", 'Brassed Off (1996)',
       'Brazil (1985)', 'Breakdown (1997)',
       "Breakfast at Tiffany's (1961)", 'Breaking the Waves (1996)',
       'Bride of Frankenstein (1935)',
       'Bridge on the River Kwai, The (1957)',
       'Bridges of Madison County, The (1995)', 'Bringing Up Baby (1938)',
       'Broken Arrow (1996)', 'Bronx Tale, A (1993)',
       'Brothers McMullen, The (1995)', 'Bulletproof (1996)',
       'Bullets Over Broadway (1994)',
       'Butch Cassidy and the Sundance Kid (1969)',
       'Cable Guy, The (1996)', 'Canadian Bacon (1994)',
       'Candidate, The (1972)', 'Candyman (1992)', 'Cape Fear (1962)',
       'Cape Fear (1991)', 'Career Girls (1997)', "Carlito's Way (1993)",
       'Carrie (1976)', 'Casablanca (1942)', 'Casino (1995)',
       'Casper (1995)', 'Cat People (1982)',
       'Cat on a Hot Tin Roof (1958)', "Cats Don't Dance (1997)",
       'Celluloid Closet, The (1995)', 'Chain Reaction (1996)',
       'Chamber, The (1996)', 'Charade (1963)', 'Chasing Amy (1997)',
       'Chinatown (1974)', 'Christmas Carol, A (1938)',
       'Chungking Express (1994)', 'Cinderella (1950)',
       'Cinema Paradiso (1988)', 'Circle of Friends (1995)',
       'Citizen Kane (1941)', 'Citizen Ruth (1996)', 'City Hall (1996)',
       "City Slickers II: The Legend of Curly's Gold (1994)",
       'City of Lost Children, The (1995)',
       'Clear and Present Danger (1994)', 'Clerks (1994)',
       'Client, The (1994)', 'Cliffhanger (1993)', 'Clockers (1995)',
       'Close Shave, A (1995)', 'Clueless (1995)',
       'Cold Comfort Farm (1995)', 'Con Air (1997)',
       'Conan the Barbarian (1981)', 'Coneheads (1993)', 'Congo (1995)',
       'Conspiracy Theory (1997)', 'Contact (1997)',
       'Cook the Thief His Wife & Her Lover, The (1989)',
       'Cool Hand Luke (1967)', 'Cool Runnings (1993)', 'Cop Land (1997)',
       'Copycat (1995)', 'Corrina, Corrina (1994)',
       'Courage Under Fire (1996)', 'Craft, The (1996)', 'Crash (1996)',
       'Crimson Tide (1995)', 'Crossing Guard, The (1995)',
       'Crow, The (1994)', 'Crow: City of Angels, The (1996)',
       'Crucible, The (1996)', 'Crumb (1994)', 'Crying Game, The (1992)',
       'Cyrano de Bergerac (1990)', 'Dangerous Minds (1995)',
       "Dante's Peak (1997)", 'Dave (1993)',
       'Day the Earth Stood Still, The (1951)', 'Daylight (1996)',
       'Days of Thunder (1990)', 'Dazed and Confused (1993)',
       'Dead Man (1995)', 'Dead Man Walking (1995)',
       'Dead Poets Society (1989)', 'Death and the Maiden (1994)',
       'Deceiver (1997)', 'Deconstructing Harry (1997)',
       'Deer Hunter, The (1978)', 'Delicatessen (1991)',
       'Demolition Man (1993)', 'Desperado (1995)',
       'Desperate Measures (1998)', 'Devil in a Blue Dress (1995)',
       "Devil's Advocate, The (1997)", "Devil's Own, The (1997)",
       'Diabolique (1996)', 'Dial M for Murder (1954)', 'Die Hard (1988)',
       'Die Hard 2 (1990)', 'Die Hard: With a Vengeance (1995)',
       'Die xue shuang xiong (Killer, The) (1989)',
       'Dirty Dancing (1987)', 'Disclosure (1994)', 'Diva (1981)',
       'Dolores Claiborne (1994)', 'Don Juan DeMarco (1995)',
       "Don't Be a Menace to South Central While Drinking Your Juice in the Hood (1996)",
       'Donnie Brasco (1997)', 'Doors, The (1991)',
       'Down Periscope (1996)', 'Down by Law (1986)',
       'Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb (1963)',
       'Dragonheart (1996)', 'Drop Zone (1994)', 'Duck Soup (1933)',
       'Dumb & Dumber (1994)', 'Dumbo (1941)',
       'E.T. the Extra-Terrestrial (1982)', 'East of Eden (1955)',
       'Eat Drink Man Woman (1994)', 'Ed Wood (1994)', 'Eddie (1996)',
       'Edge, The (1997)', 'Emma (1996)',
       'Empire Strikes Back, The (1980)', 'Enchanted April (1991)',
       'Englishman Who Went Up a Hill, But Came Down a Mountain, The (1995)',
       'Eraser (1996)', 'Escape from L.A. (1996)',
       'Escape from New York (1981)', 'Escape to Witch Mountain (1975)',
       "Eve's Bayou (1997)", 'Evening Star, The (1996)',
       'Event Horizon (1997)', 'Everyone Says I Love You (1996)',
       'Evil Dead II (1987)', 'Evita (1996)', 'Excess Baggage (1997)',
       'Executive Decision (1996)', 'Exotica (1994)',
       'Extreme Measures (1996)', 'Eye for an Eye (1996)',
       'FairyTale: A True Story (1997)', 'Fallen (1998)',
       'Family Thing, A (1996)', 'Fan, The (1996)', 'Fantasia (1940)',
       'Farewell My Concubine (1993)', 'Fargo (1996)',
       'Fast, Cheap & Out of Control (1997)',
       'Father of the Bride (1950)', 'Father of the Bride Part II (1995)',
       "Fathers' Day (1997)", 'Fear (1996)', 'Feeling Minnesota (1996)',
       'Field of Dreams (1989)', 'Fierce Creatures (1997)',
       'Fifth Element, The (1997)', 'Fire Down Below (1997)',
       'Firm, The (1993)', 'First Kid (1996)', 'First Knight (1995)',
       'First Wives Club, The (1996)', 'Fish Called Wanda, A (1988)',
       'Fled (1996)', 'Flintstones, The (1994)',
       'Flirting With Disaster (1996)', 'Flubber (1997)',
       'Fly Away Home (1996)', 'Forbidden Planet (1956)',
       'Forget Paris (1995)', 'Four Rooms (1995)',
       'Four Weddings and a Funeral (1994)',
       'Fox and the Hound, The (1981)', 'Free Willy (1993)',
       'Free Willy 3: The Rescue (1997)', 'Freeway (1996)',
       'French Kiss (1995)', 'French Twist (Gazon maudit) (1995)',
       'Friday (1995)', 'Fried Green Tomatoes (1991)',
       'Frighteners, The (1996)', 'From Dusk Till Dawn (1996)',
       'Fugitive, The (1993)', 'Full Metal Jacket (1987)',
       'Full Monty, The (1997)', 'G.I. Jane (1997)', 'Gandhi (1982)',
       'Gaslight (1944)', 'Gattaca (1997)', 'George of the Jungle (1997)',
       'Georgia (1995)', 'Get Shorty (1995)', 'Get on the Bus (1996)',
       'Ghost (1990)', 'Ghost and Mrs. Muir, The (1947)',
       'Ghost and the Darkness, The (1996)',
       'Ghost in the Shell (Kokaku kidotai) (1995)',
       'Ghosts of Mississippi (1996)', 'Giant (1956)', 'Gigi (1958)',
       'Glengarry Glen Ross (1992)', 'Glimmer Man, The (1996)',
       'Glory (1989)', 'Godfather: Part II, The (1974)',
       'GoldenEye (1995)', 'Gone with the Wind (1939)',
       'Good Will Hunting (1997)',
       'Good, The Bad and The Ugly, The (1966)', 'GoodFellas (1990)',
       'Graduate, The (1967)', 'Grand Day Out, A (1992)', 'Grease (1978)',
       'Great Dictator, The (1940)', 'Great Escape, The (1963)',
       'Great Expectations (1998)', 'Great Race, The (1965)',
       'Great White Hype, The (1996)', 'Grifters, The (1990)',
       'Grosse Pointe Blank (1997)', 'Groundhog Day (1993)',
       'Grumpier Old Men (1995)', 'Hackers (1995)', 'Hamlet (1996)',
       'Happy Gilmore (1996)', 'Hard Rain (1998)', 'Hard Target (1993)',
       'Harold and Maude (1971)', 'Harriet the Spy (1996)', 'Heat (1995)',
       'Heathers (1989)', "Heaven's Prisoners (1996)",
       'Heavenly Creatures (1994)', 'Heavy Metal (1981)',
       'Henry V (1989)', 'Hercules (1997)', 'High Noon (1952)',
       'High School High (1996)', 'Higher Learning (1995)',
       'Highlander (1986)', 'His Girl Friday (1940)', 'Home Alone (1990)',
       'Home for the Holidays (1995)',
       'Homeward Bound II: Lost in San Francisco (1996)',
       'Homeward Bound: The Incredible Journey (1993)', 'Hoodlum (1997)',
       'Hoop Dreams (1994)', 'Hot Shots! Part Deux (1993)',
       'How to Make an American Quilt (1995)', 'Howling, The (1981)',
       'Hudsucker Proxy, The (1994)',
       'Hunchback of Notre Dame, The (1996)',
       'Hunt for Red October, The (1990)',
       'I Know What You Did Last Summer (1997)',
       'I Shot Andy Warhol (1996)', 'I.Q. (1994)',
       'Ice Storm, The (1997)', 'If Lucy Fell (1996)',
       'Immortal Beloved (1994)', 'In & Out (1997)',
       'In Love and War (1996)', 'In the Company of Men (1997)',
       'In the Line of Fire (1993)', 'In the Mouth of Madness (1995)',
       'In the Name of the Father (1993)',
       'Independence Day (ID4) (1996)',
       'Indian in the Cupboard, The (1995)',
       'Indiana Jones and the Last Crusade (1989)',
       'Interview with the Vampire (1994)',
       'Island of Dr. Moreau, The (1996)',
       'It Could Happen to You (1994)', 'It Happened One Night (1934)',
       "It's a Wonderful Life (1946)", 'Jack (1996)',
       'Jackal, The (1997)', 'Jackie Brown (1997)',
       "Jackie Chan's First Strike (1996)",
       'James and the Giant Peach (1996)', 'Jane Eyre (1996)',
       'Jaws (1975)', 'Jaws 2 (1978)', 'Jean de Florette (1986)',
       'Jeffrey (1995)', 'Jerry Maguire (1996)', "Joe's Apartment (1996)",
       'Johnny Mnemonic (1995)', 'Judge Dredd (1995)', 'Jumanji (1995)',
       'Jungle Book, The (1994)', 'Jungle2Jungle (1997)', 'Junior (1994)',
       'Juror, The (1996)', 'Just Cause (1995)', 'Kalifornia (1993)',
       'Kids (1995)', 'Kids in the Hall: Brain Candy (1996)',
       'Killing Fields, The (1984)', 'Killing Zoe (1994)',
       'Kingpin (1996)', 'Kiss Me, Guido (1997)', 'Kiss the Girls (1997)',
       'Kolya (1996)', 'Koyaanisqatsi (1983)',
       'Kull the Conqueror (1997)', 'Kundun (1997)',
       'L.A. Confidential (1997)', 'Last Action Hero (1993)',
       'Last Man Standing (1996)', 'Last Supper, The (1995)',
       'Last of the Mohicans, The (1992)', 'Laura (1944)',
       'Lawnmower Man, The (1992)', 'Lawrence of Arabia (1962)',
       'Leave It to Beaver (1997)', 'Leaving Las Vegas (1995)',
       'Legends of the Fall (1994)', 'Life Less Ordinary, A (1997)',
       'Like Water For Chocolate (Como agua para chocolate) (1992)',
       'Little Princess, A (1995)', 'Little Women (1994)',
       'Living in Oblivion (1995)', 'Local Hero (1983)',
       'Lone Star (1996)', 'Long Kiss Goodnight, The (1996)',
       'Looking for Richard (1996)', 'Lost Highway (1997)',
       'Lost Horizon (1937)', 'Lost World: Jurassic Park, The (1997)',
       'Love Bug, The (1969)', 'Love Jones (1997)',
       'Love! Valour! Compassion! (1997)', 'M (1931)', 'M*A*S*H (1970)',
       'Mad City (1997)', 'Made in America (1993)',
       'Madness of King George, The (1994)',
       'Magnificent Seven, The (1954)', 'Malice (1993)',
       'Mallrats (1995)', 'Maltese Falcon, The (1941)',
       'Man Who Knew Too Little, The (1997)',
       'Man Who Would Be King, The (1975)',
       'Man Without a Face, The (1993)',
       'Manchurian Candidate, The (1962)', 'Manhattan (1979)',
       'Manhattan Murder Mystery (1993)',
       'Manon of the Spring (Manon des sources) (1986)',
       'Mars Attacks! (1996)', "Marvin's Room (1996)",
       'Mary Poppins (1964)', 'Mary Reilly (1996)',
       "Mary Shelley's Frankenstein (1994)", 'Mask, The (1994)',
       'MatchMaker, The (1997)', 'Matilda (1996)', 'Maverick (1994)',
       "McHale's Navy (1997)", 'Mediterraneo (1991)',
       'Meet Me in St. Louis (1944)', 'Men in Black (1997)',
       'Menace II Society (1993)', 'Metro (1997)', 'Michael (1996)',
       'Michael Collins (1996)',
       'Midnight in the Garden of Good and Evil (1997)',
       'Mighty Aphrodite (1995)', 'Milk Money (1994)',
       "Miller's Crossing (1990)", 'Mimic (1997)',
       'Miracle on 34th Street (1994)',
       'Mirror Has Two Faces, The (1996)', 'Mission: Impossible (1996)',
       'Moll Flanders (1996)', 'Money Talks (1997)', 'Money Train (1995)',
       'Monty Python and the Holy Grail (1974)',
       "Monty Python's Life of Brian (1979)", 'Mortal Kombat (1995)',
       'Mortal Kombat: Annihilation (1997)', 'Mother (1996)',
       'Mouse Hunt (1997)', "Mr. Holland's Opus (1995)",
       'Mr. Smith Goes to Washington (1939)',
       'Mrs. Brown (Her Majesty, Mrs. Brown) (1997)',
       'Mrs. Doubtfire (1993)', 'Much Ado About Nothing (1993)',
       'Mulholland Falls (1996)', 'Multiplicity (1996)',
       'Muppet Treasure Island (1996)', 'Murder at 1600 (1997)',
       'Murder in the First (1995)', "Muriel's Wedding (1994)",
       "My Best Friend's Wedding (1997)", 'My Fair Lady (1964)',
       'My Favorite Year (1982)', 'My Fellow Americans (1996)',
       'My Left Foot (1989)',
       'My Life as a Dog (Mitt liv som hund) (1985)',
       'My Man Godfrey (1936)', 'My Own Private Idaho (1991)',
       'Mystery Science Theater 3000: The Movie (1996)',
       'Naked Gun 33 1/3: The Final Insult (1994)',
       'Natural Born Killers (1994)', 'Nell (1994)', 'Net, The (1995)',
       'Nick of Time (1995)', 'Night Falls on Manhattan (1997)',
       'Night of the Living Dead (1968)', 'Night on Earth (1991)',
       'Nightmare Before Christmas, The (1993)',
       'Nightmare on Elm Street, A (1984)',
       'Nikita (La Femme Nikita) (1990)', 'Nine Months (1995)',
       'Ninotchka (1939)', 'Nixon (1995)', "Nobody's Fool (1994)",
       'North by Northwest (1959)',
       'Nosferatu (Nosferatu, eine Symphonie des Grauens) (1922)',
       'Notorious (1946)', 'Nutty Professor, The (1996)',
       'Old Man and the Sea, The (1958)', 'Old Yeller (1957)',
       'Omen, The (1976)', 'On Golden Pond (1981)',
       'Once Upon a Time in America (1984)',
       'Once Upon a Time in the West (1969)',
       'Once Upon a Time... When We Were Colored (1995)',
       'Once Were Warriors (1994)', 'One Fine Day (1996)',
       "One Flew Over the Cuckoo's Nest (1975)", 'Only You (1994)',
       'Operation Dumbo Drop (1995)', 'Orlando (1993)', 'Othello (1995)',
       'Outbreak (1995)', 'Paper, The (1994)', 'Parent Trap, The (1961)',
       'Paris Is Burning (1990)', 'Paris, Texas (1984)',
       'Passion Fish (1992)', 'Paths of Glory (1957)', 'Patton (1970)',
       'Peacemaker, The (1997)', 'People vs. Larry Flynt, The (1996)',
       'Perfect World, A (1993)', 'Persuasion (1995)',
       "Pete's Dragon (1977)", 'Phantom, The (1996)', 'Phenomenon (1996)',
       'Philadelphia (1993)', 'Philadelphia Story, The (1940)',
       'Piano, The (1993)', 'Picture Perfect (1997)',
       'Pillow Book, The (1995)', 'Pink Floyd - The Wall (1982)',
       'Pinocchio (1940)', 'Platoon (1986)', 'Playing God (1997)',
       'Pocahontas (1995)', 'Pollyanna (1960)', 'Postino, Il (1994)',
       'Postman, The (1997)', 'Powder (1995)',
       "Preacher's Wife, The (1996)", 'Pretty Woman (1990)',
       'Priest (1994)', 'Primal Fear (1996)',
       'Princess Bride, The (1987)', 'Private Benjamin (1980)',
       'Private Parts (1997)', 'Professional, The (1994)',
       'Program, The (1993)', 'Prophecy, The (1995)', 'Psycho (1960)',
       'Pump Up the Volume (1990)', 'Quest, The (1996)',
       'Quick and the Dead, The (1995)', 'Quiet Man, The (1952)',
       'Quiz Show (1994)', 'Raging Bull (1980)',
       'Raiders of the Lost Ark (1981)', 'Rainmaker, The (1997)',
       'Raise the Red Lantern (1991)', 'Raising Arizona (1987)',
       'Ran (1985)', 'Ransom (1996)', 'Real Genius (1985)',
       'Reality Bites (1994)', 'Rear Window (1954)', 'Rebecca (1940)',
       'Rebel Without a Cause (1955)', 'Red Corner (1997)',
       'Red Rock West (1992)', 'Ref, The (1994)',
       'Remains of the Day, The (1993)', 'Renaissance Man (1994)',
       'Replacement Killers, The (1998)', 'Restoration (1995)',
       'Return of Martin Guerre, The (Retour de Martin Guerre, Le) (1982)',
       'Return of the Pink Panther, The (1974)', 'Richard III (1995)',
       'Ridicule (1996)', 'Right Stuff, The (1983)', 'Rising Sun (1993)',
       'River Wild, The (1994)', 'Rob Roy (1995)',
       'Robin Hood: Men in Tights (1993)',
       'Robin Hood: Prince of Thieves (1991)', 'Rocket Man (1997)',
       'Roman Holiday (1953)', 'Romeo Is Bleeding (1993)',
       "Romy and Michele's High School Reunion (1997)",
       'Room with a View, A (1986)',
       'Rosencrantz and Guildenstern Are Dead (1990)', 'Rosewood (1997)',
       'Rudy (1993)', 'Rumble in the Bronx (1995)', 'Sabrina (1954)',
       'Sabrina (1995)', 'Saint, The (1997)', 'Santa Clause, The (1994)',
       "Schindler's List (1993)", 'Scream 2 (1997)', 'Screamers (1995)',
       'Searching for Bobby Fischer (1993)', 'Secret Garden, The (1993)',
       'Secret of Roan Inish, The (1994)', 'Secrets & Lies (1996)',
       'Sense and Sensibility (1995)', 'Serial Mom (1994)',
       'Seven Years in Tibet (1997)',
       'Seventh Seal, The (Sjunde inseglet, Det) (1957)',
       'Sex, Lies, and Videotape (1989)', 'Sgt. Bilko (1996)',
       'Shadow Conspiracy (1997)', 'Shadow, The (1994)',
       'Shadowlands (1993)', 'Shaggy Dog, The (1959)',
       'Shall We Dance? (1996)', 'Shallow Grave (1994)',
       'Shanghai Triad (Yao a yao yao dao waipo qiao) (1995)',

# Recommender Systems using NMF

In [22]:
algo = NMF()
algo.fit(data.build_full_trainset())

In [23]:
my_recs = []
for iid in movies_to_predict:
    my_recs.append((iid, algo.predict(uid=1001,iid=iid).est))

#My recommendations according to NMF:
pd.DataFrame(my_recs, columns=['iid', 'predictions']).sort_values('predictions', ascending=False).head(10)

                                                   iid  predictions
667                         Singin' in the Rain (1952)     3.907929
608                                 Rear Window (1954)     3.906779
141                                  Casablanca (1942)     3.902223
55                           As Good As It Gets (1997)     3.849125
661                   Shawshank Redemption, The (1994)     3.807796
724                                    Swingers (1996)     3.782632
178                              Cool Hand Luke (1967)     3.715865
600                     Raiders of the Lost Ark (1981)     3.695051
660  Shanghai Triad (Yao a yao yao dao waipo qiao) ...     3.684342
680            Some Folks Call It a Sling Blade (1993)     3.671098

# Recommender Systems using SVD

In [24]:
algo = SVD()
algo.fit(data.build_full_trainset())

my_recs = []
for iid in movies_to_predict:
    my_recs.append((iid, algo.predict(uid=1001,iid=iid).est))
    
pd.DataFrame(my_recs, columns=['iid', 'predictions']).sort_values('predictions', ascending=False).head(10)

                           iid  predictions
593              Psycho (1960)     4.020073
141          Casablanca (1942)     4.017672
641    Schindler's List (1993)     3.943196
110           Boot, Das (1981)     3.909336
536  North by Northwest (1959)     3.857742
731         Taxi Driver (1976)     3.760249
329          GoodFellas (1990)     3.753714
327   Good Will Hunting (1997)     3.728880
168      Close Shave, A (1995)     3.708267
608         Rear Window (1954)     3.699643

# Recommender Systems using SVD++

In [25]:
algo = SVDpp()
algo.fit(data.build_full_trainset())

my_recs = []
for iid in movies_to_predict:
    my_recs.append((iid, algo.predict(uid=1001,iid=iid).est))
    
pd.DataFrame(my_recs, columns=['iid', 'predictions']).sort_values('predictions', ascending=False).head(10)

                                        iid  predictions
641                 Schindler's List (1993)     4.115901
549  One Flew Over the Cuckoo's Nest (1975)     4.063863
593                           Psycho (1960)     3.992354
661        Shawshank Redemption, The (1994)     3.975734
757            To Kill a Mockingbird (1962)     3.908425
46                    Apocalypse Now (1979)     3.902816
719                     Sunset Blvd. (1950)     3.812810
330                    Graduate, The (1967)     3.812287
536               North by Northwest (1959)     3.801013
354                          Henry V (1989)     3.758968

# Recommender Systems using KNN with Z-Score

In [26]:
algo = KNNWithZScore()
algo.fit(data.build_full_trainset())
my_recs = []
for iid in movies_to_predict:
    my_recs.append((iid, algo.predict(uid=1001,iid=iid).est))
    
pd.DataFrame(my_recs, columns=['iid', 'predictions']).sort_values('predictions', ascending=False).head(10)

Computing the msd similarity matrix...
Done computing similarity matrix.

                                        iid  predictions
425                L.A. Confidential (1997)     4.284275
661        Shawshank Redemption, The (1994)     4.214673
168                   Close Shave, A (1995)     4.177236
820              Wrong Trousers, The (1993)     4.161339
608                      Rear Window (1954)     4.118845
55                As Good As It Gets (1997)     4.108190
1                       12 Angry Men (1957)     4.096164
549  One Flew Over the Cuckoo's Nest (1975)     4.088914
784              Usual Suspects, The (1995)     4.086552
647                   Secrets & Lies (1996)     4.082041

# Recommender Systems using Co-Clustering

In [27]:
algo = CoClustering()
algo.fit(data.build_full_trainset())
my_recs = []
for iid in movies_to_predict:
    my_recs.append((iid, algo.predict(uid=1001,iid=iid).est))
    
pd.DataFrame(my_recs, columns=['iid', 'predictions']).sort_values('predictions', ascending=False).head(10)

<ipython-input-27-07efd132f035>:2: DeprecationWarning: `np.int` is a deprecated alias for the builtin `int`. To silence this warning, use `int` by itself. Doing this will not modify any behavior and is safe. When replacing `np.int`, you may wish to use e.g. `np.int64` or `np.int32` to specify the precision. If you wish to review your current use, check the release note link for additional information.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  algo.fit(data.build_full_trainset())

                                                   iid  predictions
168                              Close Shave, A (1995)     3.902191
641                            Schindler's List (1993)     3.877562
820                         Wrong Trousers, The (1993)     3.877221
141                                  Casablanca (1942)     3.867909
796  Wallace & Gromit: The Best of Aardman Animatio...     3.858881
661                   Shawshank Redemption, The (1994)     3.856349
1                                  12 Angry Men (1957)     3.837551
608                                 Rear Window (1954)     3.798679
784                         Usual Suspects, The (1995)     3.796887
680            Some Folks Call It a Sling Blade (1993)     3.786233

In [28]:
cv = []
# Iterate over all recommender system algorithms
for recsys in [NMF(), SVD(), SVDpp(), KNNWithZScore(), CoClustering()]:
    # Perform cross validation
    tmp = cross_validate(recsys, data, measures=['RMSE'], cv=3, verbose=False)
    cv.append((str(recsys).split(' ')[0].split('.')[-1], tmp['test_rmse'].mean()))
pd.DataFrame(cv, columns=['RecSys', 'RMSE'])

Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.

          RecSys      RMSE
0            NMF  0.956529
1            SVD  0.934578
2          SVDpp  0.917004
3  KNNWithZScore  0.943103
4   CoClustering  0.949282

SVV+ gives the best result.